.dropzone{
  padding: 5px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  min-height: 220px;
  max-height: 220px;
  border: 2px dashed #E2E0E0;
  background-color: #F9F9F9;
  width: 100%;
  overflow: auto;

}
.dz-message {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
  color: #2F80ED;
}
.uploaded-files{
    display: flex;
}
.filepicker-file-icon {
  width: 94px;
  height: 95px;
  background-image: url("./icon.png");
  background-size: 100% 100%;
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1em 0;
  padding-left: 45px;
  color: #000;
}
.dz-remove{
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
}
.dz-remove img {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 90%;
}
.filepicker {
    font-family: sans-serif;
    overflow: auto;
}
.filepicker-file-icon::after {
    font-size: 11px;
    line-height: 1.3;
    position: absolute;
    top: 9px;
    left: -4px;
    padding: 0 2px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background: none;

}
.dz-file-description {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 100%;

}
.dz-details {
  width: 100%;
  text-align: left;
  color: #9B51E0;

}
.dz-filename {
  text-overflow: ellipsis;
  float:left;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dz-remove-icon {
  height: 18px;
  width: 18px;
  background: url('./delete.png');
  margin:auto;
  float:right;
  background-size: 100% 100%;
}
.filepicker-file-icon::before {
    position: absolute;
    top: -7px;
    left: 0;
    width: 29px;
    height: 34px;
    border-radius: 2px;
}
  