{
  "presets": [
    "@babel/env",
    "@babel/preset-react",
    [
      "@babel/preset-stage-2",
      {
        "decoratorsLegacy": true
      }
    ]
  ],
  "plugins": [
    "syntax-async-functions",
    "react-hot-loader/babel", 
    "transform-regenerator",
    "react-html-attrs", 
    "transform-class-properties",
    "babel-plugin-styled-components"
  ]
}