{  
  "parser": "babel-eslint",
  "extends": [
    "universe",
    "universe/native",
    "universe/web",
    "airbnb",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/base.config.js"
      }
    }
  },
  "rules": {
    "react/require-default-props": 0,
    "react/jsx-no-bind": [{"allowBind": 1}],
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/forbid-prop-types": 0,
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "func-names": 0,
    "space-before-function-paren": 0,
    "no-useless-concat": 0,
    "react/jsx-filename-extension": 0
  }
}