La[[:space:]]Jornada[[:space:]]Aguascalientes.json filter=lfs diff=lfs merge=lfs -text
Limpieza[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Conflictos[[:space:]]ambientales.json filter=lfs diff=lfs merge=lfs -text
Huffington[[:space:]]Post[[:space:]]Mexico.json filter=lfs diff=lfs merge=lfs -text
Vigilancia[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Bosques.json filter=lfs diff=lfs merge=lfs -text
Sin[[:space:]]Embargo.json filter=lfs diff=lfs merge=lfs -text
Extraccion.json filter=lfs diff=lfs merge=lfs -text
Calidad[[:space:]]de[[:space:]]aire.json filter=lfs diff=lfs merge=lfs -text
Drenaje[[:space:]]sanitario.json filter=lfs diff=lfs merge=lfs -text
Excelsior.json filter=lfs diff=lfs merge=lfs -text
Basura.json filter=lfs diff=lfs merge=lfs -text
Toma[[:space:]]de[[:space:]]tierras[[:space:]]indigenas.json filter=lfs diff=lfs merge=lfs -text
Informador.json filter=lfs diff=lfs merge=lfs -text
El[[:space:]]Financiero.json filter=lfs diff=lfs merge=lfs -text
El[[:space:]]Heraldo[[:space:]]de[[:space:]]Chihuahua.json filter=lfs diff=lfs merge=lfs -text
Ladrilleras.json filter=lfs diff=lfs merge=lfs -text
Milenio.json filter=lfs diff=lfs merge=lfs -text
Protesta[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Distribucion[[:space:]]de[[:space:]]calidad[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Cambio[[:space:]]de[[:space:]]Michoacan.json filter=lfs diff=lfs merge=lfs -text
Foco[[:space:]]de[[:space:]]contaminacion.json filter=lfs diff=lfs merge=lfs -text
Industria[[:space:]]de[[:space:]]ladrillos.json filter=lfs diff=lfs merge=lfs -text
Permiso[[:space:]]de[[:space:]]aprovechamiento.json filter=lfs diff=lfs merge=lfs -text
Aristegui[[:space:]]Noticcias.json filter=lfs diff=lfs merge=lfs -text
Explotar[[:space:]]recursos.json filter=lfs diff=lfs merge=lfs -text
Regeneracion.json filter=lfs diff=lfs merge=lfs -text
Transgenicos.json filter=lfs diff=lfs merge=lfs -text
Vanguardia.json filter=lfs diff=lfs merge=lfs -text
articles_ny.json filter=lfs diff=lfs merge=lfs -text
Contaminacion[[:space:]]mar.json filter=lfs diff=lfs merge=lfs -text
Empresas[[:space:]]contaminantes.json filter=lfs diff=lfs merge=lfs -text
Extraccion[[:space:]]de[[:space:]]recursos.json filter=lfs diff=lfs merge=lfs -text
Uniradio.json filter=lfs diff=lfs merge=lfs -text
Conflictos[[:space:]]de[[:space:]]tierra.json filter=lfs diff=lfs merge=lfs -text
Falta[[:space:]]de[[:space:]]agua[[:space:]]potable.json filter=lfs diff=lfs merge=lfs -text
Manejo[[:space:]]de[[:space:]]residuos.json filter=lfs diff=lfs merge=lfs -text
Medio[[:space:]]ambiente.json filter=lfs diff=lfs merge=lfs -text
Activista[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Insalubre.json filter=lfs diff=lfs merge=lfs -text
Proceso.json filter=lfs diff=lfs merge=lfs -text
Basurero.json filter=lfs diff=lfs merge=lfs -text
Contaminacion.json filter=lfs diff=lfs merge=lfs -text
Daño[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Noticias[[:space:]]Voz[[:space:]]e[[:space:]]Imagen[[:space:]]de[[:space:]]Chiapas.json filter=lfs diff=lfs merge=lfs -text
Desechos.json filter=lfs diff=lfs merge=lfs -text
Diario[[:space:]]de[[:space:]]Queretario.json filter=lfs diff=lfs merge=lfs -text
La[[:space:]]Jornada[[:space:]]Maya.json filter=lfs diff=lfs merge=lfs -text
Pesca.json filter=lfs diff=lfs merge=lfs -text
Emergencia[[:space:]]atmosferica.json filter=lfs diff=lfs merge=lfs -text
Ejidos.json filter=lfs diff=lfs merge=lfs -text
El[[:space:]]Diario[[:space:]]de[[:space:]]Coahuila.json filter=lfs diff=lfs merge=lfs -text
Fracking.json filter=lfs diff=lfs merge=lfs -text
Degradacion[[:space:]]de[[:space:]]suelos.json filter=lfs diff=lfs merge=lfs -text
Animal[[:space:]]Poliitico.json filter=lfs diff=lfs merge=lfs -text
Pueblos[[:space:]]indigenas.json filter=lfs diff=lfs merge=lfs -text
Relleno[[:space:]]sanitario.json filter=lfs diff=lfs merge=lfs -text
articles_informador.json filter=lfs diff=lfs merge=lfs -text
Ambientalista.json filter=lfs diff=lfs merge=lfs -text
Conflictos[[:space:]]de[[:space:]]tierras[[:space:]]indigenas.json filter=lfs diff=lfs merge=lfs -text
Contaminacion[[:space:]]playas.json filter=lfs diff=lfs merge=lfs -text
Deforestacion.json filter=lfs diff=lfs merge=lfs -text
Peligro[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Permisos[[:space:]]ambientales.json filter=lfs diff=lfs merge=lfs -text
Tiradero[[:space:]]de[[:space:]]basura.json filter=lfs diff=lfs merge=lfs -text
Calidad[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Incendio[[:space:]]forestal.json filter=lfs diff=lfs merge=lfs -text
Contaminacion[[:space:]]de[[:space:]]agua.json filter=lfs diff=lfs merge=lfs -text
Multa[[:space:]]contaminacion.json filter=lfs diff=lfs merge=lfs -text
BCS[[:space:]]Noticias.json filter=lfs diff=lfs merge=lfs -text
Ecocidio.json filter=lfs diff=lfs merge=lfs -text
El[[:space:]]Economista.json filter=lfs diff=lfs merge=lfs -text
Energia[[:space:]]renovable.json filter=lfs diff=lfs merge=lfs -text
Proteger[[:space:]]ambiente.json filter=lfs diff=lfs merge=lfs -text
Diario[[:space:]]El[[:space:]]Independiente.json filter=lfs diff=lfs merge=lfs -text
Contaminacion[[:space:]]industrial.json filter=lfs diff=lfs merge=lfs -text
Contingencia[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Explotacion[[:space:]]de[[:space:]]tierras.json filter=lfs diff=lfs merge=lfs -text
La[[:space:]]Jornada.json filter=lfs diff=lfs merge=lfs -text
Minas.json filter=lfs diff=lfs merge=lfs -text
result.json filter=lfs diff=lfs merge=lfs -text
Biodiversidad.json filter=lfs diff=lfs merge=lfs -text
Evaluacion[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
La[[:space:]]Tribuna[[:space:]]Campeche.json filter=lfs diff=lfs merge=lfs -text
Mineras.json filter=lfs diff=lfs merge=lfs -text
Pesca[[:space:]]ilegal.json filter=lfs diff=lfs merge=lfs -text
Quema[[:space:]]de[[:space:]]llantas.json filter=lfs diff=lfs merge=lfs -text
Reforestacion.json filter=lfs diff=lfs merge=lfs -text
SDP[[:space:]]Noticias.json filter=lfs diff=lfs merge=lfs -text
El[[:space:]]Universal.json filter=lfs diff=lfs merge=lfs -text
key_words_es.json filter=lfs diff=lfs merge=lfs -text
newsfeed.json filter=lfs diff=lfs merge=lfs -text
Aguas[[:space:]]negras.json filter=lfs diff=lfs merge=lfs -text
Multa[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Suelos.json filter=lfs diff=lfs merge=lfs -text
Autoridad[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Solar[[:space:]]plant.json filter=lfs diff=lfs merge=lfs -text
Sustancias[[:space:]]toxicas.json filter=lfs diff=lfs merge=lfs -text
Tala[[:space:]]de[[:space:]]arboles.json filter=lfs diff=lfs merge=lfs -text
Contaminacion[[:space:]]rios.json filter=lfs diff=lfs merge=lfs -text
El[[:space:]]Sol[[:space:]]de[[:space:]]Hidalgo.json filter=lfs diff=lfs merge=lfs -text
Reportero[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Contaminacion[[:space:]]de[[:space:]]aire.json filter=lfs diff=lfs merge=lfs -text
El[[:space:]]Sol[[:space:]]de[[:space:]]San[[:space:]]Luis.json filter=lfs diff=lfs merge=lfs -text
Emisiones.json filter=lfs diff=lfs merge=lfs -text
Impacto[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Reglas[[:space:]]ambientales.json filter=lfs diff=lfs merge=lfs -text
Tala[[:space:]]de[[:space:]]bosques.json filter=lfs diff=lfs merge=lfs -text
Contaminacion[[:space:]]ambiental.json filter=lfs diff=lfs merge=lfs -text
Vertedero.json filter=lfs diff=lfs merge=lfs -text
