
.sidebar.orange {
	background: #de4d1d;
}
.sidebar.orange * {
	color: #fff;
}
.left.orange {
	background: #f9f9f9;
	padding: 1% 2%;
	color: #444;
}
.left.orange h1{
	font-size: 3em;
	font-weight: 300;
}
.left.orange .container{
}
a.btn.white{
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 3.6em;
	font-size: 20px;
	display: block;
	background: #fff;
	color: #de4d1d;
}
.ReportsTable th{
	text-align: left;
}
.ReportsTableContainer{
	width: 90%;
	margin-top: 3%;
}