{  
  "parser": "babel-eslint",
  "extends": [
    "universe",
    "universe/node",
    "prettier"
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "func-names": 0,
    "space-before-function-paren": 0,
    "no-useless-concat": 0
  }
}